<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <table class="product-table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr>
                        <td><img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="product-image"></td>
                        <td><%= product.title %></td>
                        <td><%= product.price %></td>
                        <td>
                            <a class="edit-link" href="/admin/edit-product/<%= product.id %>">Edit</a>
                            <form action="/admin/delete-product/<%= product.id %>" method="POST" style="display:inline;">
                                <button type="submit" class="delete-button">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </main>
    <%- include('../includes/footer.ejs') %>
</body>
</html>
