<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="products">
            <% products.forEach(product => { %>
                <div class="product">
                    <h1><%= product.title %></h1>
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    <h3>$<%= product.price %></h3>
                    <p><%= product.description %></p>

                    <% if (product.quantity && product.quantity > 0) { %>
                        <!-- Kustutamisvorm -->
                        <form action="/carts/remove/<%= product.cartItemId %>" method="POST">
                            <p>Quantity: <%= product.quantity %></p>
                            <button type="submit" class="delete-btn">Remove from Cart</button>
                        </form>
                    <% } else { %>
                        <p>Item not in cart</p>
                    <% } %>
                </div>
            <% }); %>
        </div>
    </main>
</body>
<%- include('../includes/footer.ejs') %>
