<%- include('../includes/head.ejs') %>   
<body>
    <%- include('../includes/navigation.ejs') %>   
    <main>
        <div class="products">
            <% products.forEach(product => { %>
                <div class="product">
                    <h1><%= product.title %></h1>
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    <h3>$<%= product.price %></h3>
                    <p><%= product.description %></p>
                    <form method="post" action="/cart">
                        <input type="hidden" name="productId" value="<%= product.id %>">
                        <input type="submit" value="Add to Cart">
                    </form>
                </div>
            <% }); %>
        </div>
    </main>
</body>
<%- include('../includes/footer.ejs') %>   
</html>